In [1]:
import pandas_datareader.data as web
import datetime

ModuleNotFoundError: No module named 'pandas_datareader'

In [72]:
start = datetime.datetime(2017, 1, 1)
end = datetime.datetime(2018, 1, 27)
f = web.DataReader('ALLE', 'moex', start, end)
f.head()

OSError: MoexReader request returned no metadata: https://iss.moex.com/iss/securities/ALLE.csv
Typo in security symbol `ALLE`?

In [9]:
datetime.datetime.now()

datetime.datetime(2018, 5, 16, 23, 14, 35, 46624)

In [34]:
from pandas_datareader.data import Options
aapl = Options('aapl', 'yahoo')
data = aapl.get_all_data()
data.iloc[0:5, 0:5]

ImmediateDeprecationError:
Yahoo Options has been immediately deprecated due to large breaks in the API without the
introduction of a stable replacement. Pull Requests to re-enable these data
connectors are welcome.

See https://github.com/pydata/pandas-datareader/issues

In [2]:
from googlefinance.client import get_price_data, get_prices_data, get_prices_time_data

# Dow Jones
param = {
    'q': "AAPL", # Stock symbol (ex: "AAPL")
    'i': "86400", # Interval size in seconds ("86400" = 1 day intervals)
    'x': "INDEXDJX",# Stock exchange symbol on which stock is traded (ex: "NASD")
    'p': "1Y"# Period (Ex: "1Y" = 1 year)
}
# get price data (return pandas dataframe)
df = get_price_data(param)
df.tail()

Empty DataFrame
Columns: [Open, High, Low, Close, Volume]
Index: []

In [4]:
params = [
    # Dow Jones
    {
        'q': "AAPL",
        'x': "NASD"
    }
]
period = "1Y"
interval = 60*24*60 # 30 minutes
# get open, high, low, close, volume time data (return pandas dataframe)
df = get_prices_time_data(params, period, interval)
df.head()

Empty DataFrame
Columns: [AAPL_Open, AAPL_High, AAPL_Low, AAPL_Close, AAPL_Volume]
Index: []

In [6]:
import matplotlib.pyplot as plt
import fix_yahoo_finance as yf  
data = yf.download('AAPL','2015-06-01')
data.tail()

[*********************100%***********************]  1 of 1 downloaded

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-08-09,207.279999,209.779999,207.199997,208.880005,208.149994,23469200
2018-08-10,207.360001,209.100006,206.669998,207.529999,207.529999,24611200
2018-08-13,207.699997,210.949997,207.699997,208.869995,208.869995,25869100
2018-08-14,210.160004,210.559998,208.259995,209.750000,209.750000,20705400
2018-08-15,209.220001,210.740005,208.330002,210.240005,210.240005,26418128